<footer class="gdHideNoJS">
	<ul>
		<li><span>@*{$version}*@</span></li>
		<li><span><a href="http://benkeen.github.io/generatedata/" target="_blank">@ViewRes.FooterStrings.Documentation</a></span></li>
		<li><span><a href="http://www.generatedata.com" target="_blank">@ViewRes.FooterStrings.Website</a></span></li>
		<li><span><a href="https://github.com/benkeen/generatedata/issues" id="gdReportBug" target="_blank">@ViewRes.FooterStrings.ReportBug</a></span></li>
	</ul>
</footer>
